*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:70px;
    width:100%;
    background-color: aqua;
   box-shadow:3px 3px 3px red;
   margin:15px 0px;
}
#contents{
    display: flex;
    justify-content: space-between;
    width:48%;
}
#contents>li:first-child{
    order: 1;
}
#contents>li:nth-child(2){
    order: 3;
}
#contents>li:nth-last-child(2){
    order:2;
}
#contents>input{
    order:4;
}
a{
    text-decoration: none;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
li{
    list-style: none;
}
main{
    height: 60vh;
    width:100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
/* vflex direction:coloum */
#main{
    height:40vh;
    width:50vw;
    background-color: red;
    font-size:80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


}
#main>p{
    width:34%;
}
#sub-main>p{
    font-size:30px;
}
main>button{
    padding: 13px 40px;
}