*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
#first{
    height:130vh;
    width:80vw;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#second{
    height: 20vh;
    width:50vw;
    background-color: blue;
    
}
#third{
    height: 40vh;
    width:50vw;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
#image{
    height:20vh;
    width: 10vw;
    background-color: blueviolet;
}
#para{
    height:20vh;
    width: 20vw;
    background-color: cadetblue;
}
#fourth{
    height: 60vh;
    width:50vw;
    background-color: chartreuse;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
#sibling1{
    height: 25vh;
    width:15vw;
    background-color: darkseagreen;
    display: block;
    align-items: center;
    justify-content: space-around;
  
    flex-direction: row;
}
#sibling3 button{
    align-items: center;
    display: flex;
    justify-content: center;
    
}
#sibling2{
    height: 25vh;
    width:15vw;
    background-color: darkseagreen;
}
#sibling3 button{
    align-items: center;
    display: flex;
    justify-content: center;
}
#sibling3{
    height: 25vh;
    width:15vw;
    background-color: darkseagreen;

}
