*{
    padding:0;
    padding:0;
    box-sizing: border-box;
    background-color: black;
}
body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: repeating-conic-gradient(red 0%,black 0.26%);
}
#linear{
    height: 50vh;
    width:50vw;
    background-image: linear-gradient(to right,hotpink,yellow);
    background-image: linear-gradient(to right,hotpink 0%,hotpink 50%,yellow 50%);

}
#r-linear{
    height: 50vh;
    width:50vw;
    border:3px solid white;
    background-image:repeating-linear-gradient(to top right,white 0%,white 5%,black 5%,black 10%);
}
#radial{
    height: 50vh;
    width:50vw;
    border:3px solid white;
    background-image: radial-gradient(blue 0%,blue 25%,yellow 25%,yellow 50%,hotpink 50%);

}
#r-radial{
    height: 50vh;
    width:50vw;
    border:3px solid white;
    background-image: repeating-radial-gradient(hotpink 0%,hotpink 15%,black 15%,black 20%);
}
#gradient{
    height: 50vh;
    width:50vw;
    background-image: linear-gradient(orange 0%,orange 33.3%,white 33.3%,white 66.6%,green 66.6%);
    position: relative;

}
#chakra{
    height:15vh;
    width: 13vw;
    background-image:repeating-conic-gradient(blue 0%,blue 2.10%,white 2.10%,white 4.20%);
    border-radius:50%;
    position: absolute;
    top:130px;
    left:210px;
   
}
    